@*@{
        ViewData["Title"] = "About";
    }

    <h1>This is About</h1>*@

@{
    ViewData["Title"] = "About";
}

<div style="background-color:#ffe9e9">
    <div class="container pt-4">
        <h2 class="text-center Links-Heading text-secondary">
            <i>How We Work ?</i>
            <hr class="mt-2 mb-4" />
        </h2>
        <p style="color: #333; font-size: 18px; font-family: cursive" class="text-center">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Share At Door Step makes it super easy for you to make non-cash donations. Don’t we all have
            a lot of clothes, books, and other household goods just lying at some corner and getting dusted.
            It’s time to give them a new life by donating them to those who in need and bring smiles on their
            faces!! Just schedule a pickup and get the donations picked up from your doorstep. Now Spreading
            Happiness is just a click away!!
        </p>
        <br />
        <hr />
        <br />
        <h5 class="text-center Links-Heading text-secondary">
            <i>How to Schedule a pickup?</i>
            <hr class="mt-2 mb-4" />
        </h5>

        <p style="color: #333; font-size: 16px; font-family: cursive" class="text-center">
            1. Go to our Home page and enter your location & details.<br />
            2. Now any Volunteer from Your city will be accept your Donation Request.
            <br />
            3. After Accepting your request status of your Donation will be update
            <br />
            4.Volunteer will be come to your place & Pick up the Goods.<br />
        </p>

        <br />
        <hr />
        <br />
        <h2 class="text-center Links-Heading text-secondary">
            <i>Happiness Flow</i>
            <hr class="mt-2 mb-4" />
            <img src="~/Images/workflow.png" class="side-Image mt-0" alt="WorkFlow">
        </h2>


    </div>

</div>
