
@{
    ViewData["Title"] = "AdminHome";
}

<h1>AdminHome</h1>

<a class="btn btn-coral" asp-action="Create" asp-controller="City">Add City</a>
<a class="btn btn-coral" asp-action="Index" asp-controller="City">Manage Cities</a>



