
@{
    ViewData["Title"] = "DonarHome";
}

<h1>DonarHome</h1>

<a class="btn btn-coral" asp-action="Create" asp-controller="Donation">Donate</a>
<a class="btn btn-coral" asp-action="Index" asp-controller="Donation">My Donations</a>


